
#navMainContent{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: white !important;
    position: fixed;
    z-index: 1;
    font-weight: bold;
}
.navIconRoted{
    width: 20px;
    transition: 0.2s ease-in-out;
}
.navItemfont .nabLinkmain:hover.navIconRoted{
    transform: rotate(90deg);
}
.navItemfont a.active {
    color:#FF478A;
  }
    

.logoImg{
    width: 44px;
}
.logowImg{
    height: 28px;
}
@media screen and (max-width:1280px) {
    .navItemfont{
        font-size:17px;
        padding-top: 7px;
    }
}
@media screen and (max-width:600px){
    .logowImg{
        display:none;
    }
    .disableLogin{
        display: none;
    }
   
}
@media only screen and (min-width: 600px){
    .minWithDisable{
      display: none;
    }   
}
