
#navMainContent{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: white !important;
    position: fixed;
    z-index: 22;
    font-weight: bold;
}
.navIconRoted{
    width: 20px;
    transition: 0.2s ease-in-out;
}
 
.navItemfont .nabLinkmain:hover.navIconRoted{
    transform: rotate(90deg);
}
.navItemfont .hoverColor a.active {
    color:black;
 }
 .navItemfont .hoverColor a.active:hover{
    color: #FF478A;
 }
 .navIcon{
    transition: 0.3 ease-in-out !important;
 }
.navIcon:hover{
    transform: rotate(180deg) !important;
 }
.navItemfont a{
    color: #FF478A;
    text-decoration: none;
}  


.logoImg{
    width: 44px;
}
.logowImg{
    height: 28px;
}
@media screen and (max-width:1280px) {
    .navItemfont{
        font-size:17px;
        padding-top: 7px;
    }
}
@media screen and (max-width:600px){
    .logowImg{
        display:none;
    }
    .navBtn{
        margin-bottom: 15px;
    }
   
}
@media screen and (max-width:1080px) {
    .navBtn{
        display: none;
      }
}
@media only screen and (min-width: 1080px){
    .minWithDisable{
        display: none;
        margin-bottom: 15px;
      }     
}
