.bgImg{
    background-image:url('../../../assets/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0;
}
.hello{
    color: red;
}